# compiled output
dist/
build/

# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# NestJS
*.js.map

# logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
